@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik.ttf') format('truetype');
}

:root {
    --blue: #2091F9;
    --black: #252B42;
    --gray-dark: #374754;;
}


body {
    font-family: 'Graphik', sans-serif;
    background-color: var(--black);
    color: white;
}



/* Buttons */

.round-control {
    border-radius: 35px;

    padding-left: 2.35em;
    padding-right: 2.35em;
}

.btn {
    font-size: 1.1em;
    letter-spacing: 0.2px;
}

.btn-light {
    color: var(--blue);
    background-color: white;
}
.btn-primary {
    color: white;
    background-color: var(--blue);
}

/* /Buttons */

/* Forms */

.form-control {
    font-size: 0.9em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}
.form-control, .form-control::placeholder {
    color: #18171D;
    letter-spacing: 0.1px;
}

/* /Forms */


/* Main */

.line__description {
    font-size: 1.5em;
    justify-content: center;
}

/* /Main */



/* Media queries */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    html {
        font-size: 15px !important;
    }

    .plan {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 17px !important;
    }
}

@media only screen and (min-width: 1224px) {
    html {
        font-size: 18px !important;
    }
}

/* /Media queries */